html {
  height: 100%;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat:no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
  font-family: 'Lato', sans-serif;
  color: #FDFCFB;
  text-align: center;
  box-sizing: border-box;
}

/*
  This part styles the ALIASPICKER
*/
.header {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.aliasForm {
  width: 20%;
  margin: 17% auto;
}

.aliasInput {
  display: flex;
  justify-content: center;
  border: none;
}

.textInput {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.description {
  font-size: 1em;
  letter-spacing: .1em;
  line-height: 1.3em;
  margin: -.1em 0 3em;
}

.inputBox {
  flex: 1;
  width: 15vw;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: .1em;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}

.button {
  border: 1px solid black;
}

#enter {
  height: 8vh;
  width: 30%;
  background: #ff3300;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  /*transition: background .3s ease-in-out;*/
}

#enter:hover {
  background: #e62e00;
}

/*
  This part styles the CHATROOM
*/

#appChat {
  display: flex;
  justify-content: center;
}
.usersList{
  list-style: none;
  text-align: left;
}
.messageComponent{
  /*flex-basis: 70%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.messageInputArea{
  height: 50vh;
  width: 50vw;
  overflow: auto;
  color: black;
  background: white;
  border: 2px solid black;
  /*border-radius: 1px;*/
  text-align: left;
}
.message{
  padding: .1em;
  font-weight: bold;
  font-size: 1em;
}
.admin_message{
  font-style: italic;
  font-size: 1.02em;
  color: grey;
  text-align: center;
}
.messageTableText{
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}
.userElement{
  font-weight: bolder;
  padding: .1em;
}
/*
  Styling message form input box
*/

.messageInput {
  width: 50vw;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.messageInput, .messageButton {
  border: none;
}

#messageBox {
  flex: 1;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  padding-left: 1em;
  /*border-radius: 5px 0 0 5px;*/
}
#sendMessage {
  height: 4vh;
  background: #009933;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
  transition: background .3s ease-in-out;
  margin: 0;
  padding-left: 2em;
  padding-right: 2em;
}

#sendMessage:hover {
  background: #00802b;
}

/*
  Show User Button
*/

.userButton {
  width: 8vw;
  height: 4vh;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #314d9b;
  color: #ecf0f1;
  transition: background-color .3s;
  cursor: pointer;
}
/*
.userButton:hover, .userButton:focus {
  background-color: #273D7A;
  cursor: pointer;
}

.userButton:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.userButton:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 1s ease-out, padding-top 1s ease-out;
}*/

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/*
  Page Not Found
*/
#mainPageRedirect {
  color: yellow;
}
