html {
  height: 100%;
  width: 100%;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat:no-repeat;
  background-attachment: fixed;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
  font-family: 'Lato', sans-serif;
  color: #FDFCFB;
  text-align: center;
  box-sizing: border-box;
}

/*
  This part styles the ALIASPICKER
*/
.header {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.aliasForm {
  width: 20%;
  margin: 17% auto;
}

.aliasInput {
  display: flex;
  justify-content: center;
  border: none;
}

.textInput {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.description {
  font-size: 1em;
  letter-spacing: .1em;
  line-height: 1.3em;
  margin: -.1em 0 3em;
}

.inputBox {
  flex: 1;
  width: 15vw;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: .1em;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}

.button {
  border: 1px solid black;
}

#enter {
  height: 8vh;
  width: 30%;
  background: #ff3300;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  /*transition: background .3s ease-in-out;*/
}

#enter:hover {
  background: #e62e00;
}

/*
  This part styles the CHATROOM
*/
#appChat {
  display: flex;
  justify-content: center;
}
#room {
  color: yellow;
}
.usersList{
  list-style: none;
  text-align: left;
}
#userComponent{
  height: 100%;
}
.messageComponent{
  /*flex-basis: 70%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
.messageInputArea{
  height: 50vh;
  width: 50vw;
  overflow: auto;
  color: black;
  background: white;
  border: 2px solid black;
  /*border-radius: 1px;*/
  text-align: left;
}
.message{
  padding: .1em;
  font-weight: bold;
  font-size: 1em;
}
.admin_message{
  font-style: italic;
  font-size: 1.02em;
  color: grey;
  text-align: center;
}
.messageTableText{
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}
.userElement{
  font-weight: bolder;
  padding: .1em;
}

/*
  Styling message form input box
*/
.messageInput {
  width: 50vw;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.messageInput, .messageButton {
  border: none;
}

#messageBox {
  flex: 1;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  padding-left: 1em;
  /*border-radius: 5px 0 0 5px;*/
}
#sendMessage {
  height: 4vh;
  background: #009933;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
  transition: background .3s ease-in-out;
  margin: 0;
  padding-left: 2em;
  padding-right: 2em;
}

#sendMessage:hover {
  background: #00802b;
}

/*
  Show User Button
*/

.userButton {
  width: 8.5vw;
  height: 4.5vh;
  overflow: hidden;
  font-size: 15px;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #314d9b;
  color: #ecf0f1;
  transition: background-color .3s;
  cursor: pointer;
}
/*
.userButton:hover, .userButton:focus {
  background-color: #273D7A;
  cursor: pointer;
}

.userButton:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.userButton:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 1s ease-out, padding-top 1s ease-out;
}*/

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/*
  Page Not Found
*/
#mainPageRedirect {
  color: yellow;
}

@media (max-width: 1200px) {
  .messageInputArea {
    height: 20vh;
  }
  .userButton{
    width: 11vw;
    height: 5vh;
  }
}

@media (max-width: 1000px) {

  .messageInputArea {
    height: 20vh;
  }
  .aliasForm {
    width: 40%;
    margin: 17% auto;
  }
  .userButton{
    width: 11vw;
    height: 5vh;
  }
}

@media (max-width: 800px) {
  .messageInputArea {
    height: 20vh;
  }
  .aliasForm {
    width: 50%;
    margin: 17% auto;
  }
  .userButton{
    width: 12vw;
    height: 6vh;
  }
}

/* for mobile */

@media only screen and (max-device-width: 480px) {
  body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 35%, rgba(125, 185, 232, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 30%, rgba(125, 185, 232, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 30%, rgba(125, 185, 232, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8', GradientType=1);
    /* IE6-9 */
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    color: #FDFCFB;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
  }
  h1 {
    font-size: 3.5em;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 2px 2px #AEB5B3;
  }
  p {
    font-size: 0.32em;
    text-shadow: 1px 1px #AEB5B3;
  }
  #app {
    max-width: 100%;
    max-height: 100%;
  }
  .formContainer {
    height: 1000px;
  }
  .header {
    font-size: 65px;
  }
  .aliasForm {
    width: 60%;
    height: 100%;
    margin: auto;
    margin-bottom: 5px;
  }
  .aliasInput {
    margin-top: 3.45em;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    width:100%;
  }
  #aliasBox {
    background: black;
    font-family: inherit;
    color: #737373;
    letter-spacing: .1em;
    text-indent: 5%;
    border-radius: 5px 0 0 5px;
    margin-bottom: 25px;
    font-size: large;
  }
  .inputBox {
    flex: 1;
    width: 100%;
    background: white;
    font-family: inherit;
    color: #737373;
    letter-spacing: .1em;
    text-indent: 5%;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  .textInput {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  }
  #spaceUp {
    margin-top: 10px;
    width: 12em;
  }
  #enter {
    height: 3em;
    width: 100%;
    background: #AEB5B3;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
  }
  .description {
    font-size: 30px;
    letter-spacing: .1em;
    line-height: 1.3em;
    margin-top: 0;
  }
  #topContainer {
    height: 30%;
  }
  video {
    width: 100%;
    position: inherit;
    margin-bottom: 0;
    height: 25em;
  }
  #videoContainer {
    padding: 0;
  }
  #AppChatContainer {
    width: 100%;
    height: 100%;
  }
  #appChat {
    height: 100%;
    width:100%;
  }
  .messageComponent {
    width: 100%;
  }
    .messages {
    width: 100%;
  }
  .messageFormDiv{
    width: 100%;
  }
  .messageForm {
    width: 100%;
    margin-right: 0;
  }
  .messageInput {
    margin-left: 1em;
    width: 100%;
    font-size: medium;
  }
  .messageInputArea {
    height: 250px;
    width: 100%;
  }
  span {
    width: 100%;
  }
  .messageTableText {
    width: 100%;
  }
  #mainApp {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  h3 {
    margin: 0;
  }
}
