/*
  This styles the chat and video portions of the application
*/

#mainApp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: stretch;
}
#chatApp {
  flex-basis: 50%;
}
#videoApp {
  flex-basis: 50%;
}
#videoContainer {
  width: 100%;
  height: 100%;
  border: .5em solid black;
  padding: 1em;
}
