/*
  This styles the chat and video portions of the application
*/
#headline {
  font-size: 4em;
}
#mainApp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: stretch;
}
/*#chatApp {
  flex-basis: 50%;
}
#videoApp {
  flex-basis: 50%;
}*/
#videoContainer {
  padding: 8px;
  border-radius: 10px;
}
video {
  width: 45vw;
  position: relative;
  top: 5em;
  margin-bottom: 5em;
}

@media (max-width: 1445px) {
  #mainApp {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 800px) {
  #mainApp {
    display: flex;
    flex-direction: column-reverse;
  }
}
