/*
  This styles the chat and video portions of the application
*/

#mainApp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: stretch;
}
/*#chatApp {
  flex-basis: 50%;
}
#videoApp {
  flex-basis: 50%;
}*/
#videoContainer {
  padding: 8px;
  border-radius: 10px;
}
video {
  width: 45vw;
}
